<?php
/**
 * Created by PhpStorm.
 * User: dev01
 * Date: 26/02/19
 * Time: 13:39
 */
?>


<h2>Products on Cart</h2>


<table class="data-table admin__table-primary order-tables">
    <thead>
        <tr class="headings">
            <th><?php echo __('Product Name')?></th>
            <th><?php echo __('Quatity')?></th>
            <th><?php echo __('Price')?></th>
            <th><?php echo __('Actions')?></th>
        </tr>
    </thead>
<tbody>
<?php $products = $block->createGrid() ?>
<?php foreach ($products as $product): ?>
    <tr>
        <td><?php echo $product->getName();?></td>
        <td><?php echo $product->getQty();?></td>
        <td><?php echo $product->getPrice();?></td>
    </tr>
<?php endforeach; ?>
</tbody>
</table>